<h1>Add a new stage</h1>

<form action="/stages" method="post">
  <div class="form-group">
    <label for="stage_name">Stage name</label>
    <input id="stage_name" name="stage_name" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Make a new stage</button>
</form>
